* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-image: linear-gradient(to top, #f04d62, #f87558, #f89a59, #f4bd68, #eedc85);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
}

.title {
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin: 25px;
    user-select: none;
}

.content {
    background-color: rgba(255, 255, 255, 0.3);
    width: 500px;
    height: 500px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    color: black;
    user-select: none;
}

.contentInputs {
    margin: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

:where(input[type="number"])::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0px;
} 

input, button {
    all: unset;
}

input {
    border: 2px solid #995395;
    border-radius: 10px;
    padding: 4px 4px;
    font-size: 17px;
    color: black;
    outline: none;
    background: transparent;
    display: block;
    text-align: start;
    margin: 10px;
}

:is(input[type="number"]):focus {
    border: 2px solid #635790;
    transition: 0.3s;
}

button {
    background-color: #635790;
    width: 100px;
    height: 36px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

:where(button):hover {
    background-color: #9b8bd4;
}

footer {
    text-align: center;
    color: #fff;
    font-size: 30px;
    user-select: none;
}